@media (min-width: 28em) {
    .ui-field-contain label.ui-input-text {
        width: 20%;
        text-align: center;
        padding-top: 1%;
    }

    .custom-grid-c .ui-block-a{
        width: 20%;
        margin-left: 5%;
    }
    .custom-grid-c .ui-block-b{
        width: 20%;
        margin-left: 5%;
    }
    .custom-grid-c .ui-block-c{
        width: 10%;
        margin-left: 2%;
    }
    .custom-grid-c .ui-block-d{
        width: 35%;
        margin-left: 1%;
        font-weight: bold;
    }

    .defectDetail{
        font-size: 1em;
        width: 40%;
        display: inline-block;
    }

}
@media (min-width: 28em){
.ui-hide-label input.ui-input-text, .ui-hide-label textarea.ui-input-text, .ui-hide-label .ui-input-search, .ui-hide-label div.ui-input-text, .ui-input-search input.ui-input-text, div.ui-input-text input.ui-input-text {
    width: 100%;
}

}

label { display: block; }
.validationMessage { color: Red; margin-left: 2%;}
.customMessage { color: Orange; }


